<p class="text-danger" *ngIf="errorMessage">{{ errorMessage }}</p>
<div *ngIf="garage" class="garage-detail">
  <h2>{{ garage.name }}</h2>
  <a routerLink="/garages" class="go-back">&laquo; All Garages</a>
  <h3>Available</h3>
  <p>Free Spaces for a long time: <b>{{ garage.freeSpaceLong }}</b></p>
  <p>Free Spaces for a short period of time: <b>{{ garage.freeSpaceShort }}</b></p>
  <h3>Total</h3>
  <p>Long Capacity: {{ garage.longCapacity }}</p>
  <p>Short Capacity: {{ garage.shortCapacity }}</p>
</div>

